DATABASE_URL=postgresql://usuario:password@host:puerto/base_de_datos
SECRET_KEY=tu_clave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_app_password_de_google
SMTP_FROM_NAME="Soporte de Nueva School"
SMTP_FROM_EMAIL=tu_correo@gmail.com
RESET_CODE_EXPIRE_MINUTES=10

# Redirección de correos en desarrollo (opcional)
# Define un correo al cual se enviarán todos los correos en desarrollo,
# previniendo rebotes por correos ficticios (como nuevaschool.pe).
# DEVELOPMENT_EMAIL_OVERRIDE=tu_correo_personal@gmail.com
